{% extends 'base.html' %}

{% block content %}
<h1>Assignment List</h1>
<ul>
    {% for assignment in assignments %}
        <li>
            {{ assignment.title }} - {{ assignment.due_date }}
            <form method="post" action="{% url 'delete_assignment' assignment.id %}">
                {% csrf_token %}
                <input type="submit" value="Delete" class="delete-button">
            </form>
        </li>
    {% empty %}
        <li>No assignments available</li>
    {% endfor %}
</ul>
{% endblock %}
