{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Study Tracker</title>
</head>
<body>
    <ul class="nav-menu">
        <li><a href="{% url 'assignment_list' %}">Assignments</a></li>
        <li><a href="{% url 'create_assignment' %}">Create Assignment</a></li>
        <li><a href="{% url 'project_list' %}">Projects</a></li>
        <li><a href="{% url 'create_project' %}">Create Project</a></li>
        <li><a href="{% url 'test_list' %}">Tests</a></li>
        <li><a href="{% url 'create_test' %}">Create Test</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'study_tips' %}">Study Tips</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>
